<div id="carouselSlidesOnly" class="carousel slide carousel-fade" data-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="{{site.baseurl}}/img/carousel/carousel-2019-1.jpg" alt="alcatraz" class="img-fluid" >
      <div class="carousel-caption d-none d-md-block">
        <h5>This is a title</h5>
        <p>This is some text</p>
      </div>
    </div>
    <div class="carousel-item">
      <img src="{{site.baseurl}}/img/carousel/carousel-2019-2.jpg" alt="alcatraz" class="img-fluid" >
      <div class="carousel-caption d-none d-md-block">
        <h5>This is a title</h5>
        <p>This is some text</p>
      </div>
    </div>
  </div>
</div>
