---
layout: default
title: "Partenaires fr"
lang: fr
ref: partners
---

<h1>{{page.title}}</h1>

<h3>Main Partners</h3>
{% assign partners = site.data.partners2 | where: "category", "main partner" %}
{% for partner in partners %}
  <p>{{partner.name}}</p>
{% endfor %}

<h3>Partners</h3>
{% assign partners = site.data.partners2 | where: "category", "partner" %}
{% for partner in partners %}
  <p>{{partner.name}}</p>
{% endfor %}

<h3>Location & Decoration Partners</h3>
{% assign partners = site.data.partners2 | where: "category", "location & decoration partner" %}
{% for partner in partners %}
  <p>{{partner.name}}</p>
{% endfor %}

<h3>Media Partners</h3>
{% assign partners = site.data.partners2 | where: "category", "media partner" %}
{% for partner in partners %}
  <p>{{partner.name}}</p>
{% endfor %}

<h3>Food & Beverage Partner</h3>
{% assign partners = site.data.partners2 | where: "category", "food & beverage partner" %}
{% for partner in partners %}
  <p>{{partner.name}}</p>
{% endfor %}
